################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Upload-File-To-Googel-Drive/.vs/Upload-File-To-Googel-Drive
/Upload-File-To-Googel-Drive/obj
